#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
}

.nav--title h1 {
  font-size: 3rem;
}

.nav--btn {
  padding: 1rem 3rem;
  border-radius: 1.5rem;
  margin-right: .5rem;
  background-color: rgb(4, 173, 131);
  color: white;
  cursor: pointer;

}

.nav--btn:hover {
  background-color: brown;
}


.pizza--container{
  display: flex;
  justify-content: center;
}

.pizza--logo{
  background-image: url("./Images/Pizza.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 3rem;
}

#order-pizza{
  padding: 1rem 3rem;
  border: .2rem solid rgb(190, 187, 187);
  border-radius: 2rem;
  margin-right: .5rem;
  background-color: rgb(4, 173, 131);
  color: white;
  cursor: pointer;
  font-size: 2rem;
}

#order-pizza:hover {
  background-color: brown;
}

.order--logo--container {
  display: flex;
  justify-content: center;
}

.order--logo{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: .5rem solid rgb(4, 173, 131);
  border-radius: 1rem;
}

#order--logoImg {
  width: 50rem;
}

.order--logo h2 {
  font-size: 3rem;
}
